<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="5552-Android-Test-Suite" parallel="tests" thread-count="4">
    <test name="5552-Samsung-S9-Plus">
        <parameter name="platform" value="android"/>
        <parameter name="platformVersion" value="11"/>
        <parameter name="udid" value="192.168.2.93:5552"/>
        <parameter name="appiumServer" value="http://0.0.0.0:4721/wd/hub"/>
        <classes>
            <class name="cucumber.testRunners.TestRunner1"/>
        </classes>
    </test>

    <test name="5554-Nexus-6-Plus-Black">
        <parameter name="platform" value="android"/>
        <parameter name="platformVersion" value="11"/>
        <parameter name="udid" value="emulator-5554"/>
        <parameter name="appiumServer" value="http://0.0.0.0:4722/wd/hub"/>
        <classes>
            <class name="cucumber.testRunners.TestRunner2"/>
        </classes>
    </test>

    <test name="5556-Foldable-8">
        <parameter name="platform" value="android"/>
        <parameter name="platformVersion" value="11"/>
        <parameter name="udid" value="emulator-5556"/>
        <parameter name="appiumServer" value="http://0.0.0.0:4723/wd/hub"/>
        <classes>
            <class name="cucumber.testRunners.TestRunner3"/>
        </classes>
    </test>

    <test name="5558-Pixel-XL-White">
        <parameter name="platform" value="android"/>
        <parameter name="platformVersion" value="11"/>
        <parameter name="udid" value="emulator-5558"/>
        <parameter name="appiumServer" value="http://0.0.0.0:4724/wd/hub"/>
        <classes>
            <class name="cucumber.testRunners.TestRunner4"/>
        </classes>
    </test>
</suite>